<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word-game</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>This is the word game!!!</h1>
    <video loop muted autoplay class="video">
      <source src="http://www.piedpiper.com/app/themes/pied-piper/dist/images/video-bg.mp4" type="video/mp4" />
    </video>
    <div class="play_board">
      {{#solution}}
      <span class="riddle">
        <!-- TODO: begin conditional mustaching for "isMatch" and "isNotMatch" -->
        {{#letter}}
          <div class="match">!</div>
        {{/letter}}
        {{^letter}}
          <div class="blank">-</div>
        {{/letter}}
      </span>
      {{/solution}}({{word}})
    </div>
    <form class="guess" action="/" method="post">
      <input type="text" name="guess" value="" maxlength="1" autofocus>
      <button type="submit" name="guess">Guess</button>
    </form>
    <div class="trash_can">
      {{#guesses}}
      <span class="guessed_letters">
        <div class="guessed_letter">
          {{.}}
        </div>
      </span>
      {{/guesses}}
    </div>
  </body>
</html>
