h1{
  color: white;
  font-size: 8.5vh;
  font-family: fantasy;
  text-align: center;
}
.play_board{
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 5vh;
  padding: 10vh;
  justify-content: center;
}
body{
  background-color: violet;
}
video{
  height: 100vh;
  position: fixed;
  top: 0vh;
  left: 0vw;
  z-index: -100;
}
.riddle{
  width: 3vw;
  border-bottom: 5px solid white;
  margin: 10px;
}
.letter{
  text-align: center;
  visibility: hidden;
}
